/*!
  style.css voor satansboek.nl
<!--                                                            -->
<!-- ========================================================   -->
<!--                                                            -->
<!--                  .:::::::::::::::}}}}}}}                   -->
<!--                  .:::::::::::::::}}}}}}}                   -->
<!--                  .:::::::::::::::}}}}}}}                   -->
<!--              ````.:::::::::::::::::}}}}}``````             -->
<!--        ``.------------------::::::::::::::::}}}::.`        -->
<!--      `.---------------------::::::::::::::::}}}}}}}:`      -->
<!--     `-----------------------::::::::::::::::}}}}}}}}}.     -->
<!--     .-----------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     -----------------::-----:::::::}::::::::}}}}}}}}}}     -->
<!--     ---------------:hmmd+---:::::smmmy::::::}}}}}}}}}}     -->
<!--     ---------------+MMMMy---:::::NMMMN}:::::}}}}}}}}}}     -->
<!--     ----------------oyhs:---:::::}yhy+::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------oso}}:::}}+sy}::::::::}}}}}}}}}}     -->
<!--     ------------------}oyhhdhhdhys+:::::::::}}}}}}}}}}     -->
<!--     -----------------------:::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     `-----------------------::::::::::::::::}}}}}}}}}.     -->
<!--      `.---------------------::::::::::::::::}}}}}}}:`      -->
<!--        `..-----------------::::::::::::::::}}}}::-`        -->
<!--             ``::::::::::::::::}}}}}}}}}}}}}}-`             -->
<!--              `::::::::::::::::}}}}}}}}}}}}}}.              -->
<!--              `::::::::::::::::}}}}}}}}}}}}}}.              -->
<!--                                                            -->
<!-- ========================================================   -->
<!--                                                            -->
*/@font-face{font-family:system;font-style:normal;font-weight:300;src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma")}@font-face{font-family:regular-sans;src:url(fonts/PTS55F-webfont.eot);src:url(fonts/PTS55F-webfont.eot?#iefix) format('embedded-opentype'),url(fonts/PTS55F-webfont.woff2) format('woff2'),url(fonts/PTS55F-webfont.woff) format('woff'),url(fonts/PTS55F-webfont.ttf) format('truetype'),url(fonts/PTS55F-webfont.svg#pt_sansregular) format('svg');font-weight:400;font-style:normal}@font-face{font-family:regular-bold;src:url(fonts/PTS75F-webfont.eot);src:url(fonts/PTS75F-webfont.eot?#iefix) format('embedded-opentype'),url(fonts/PTS75F-webfont.woff2) format('woff2'),url(fonts/PTS75F-webfont.woff) format('woff'),url(fonts/PTS75F-webfont.ttf) format('truetype'),url(fonts/PTS75F-webfont.svg#pt_sansbold) format('svg');font-weight:400;font-style:normal}body,html{width:100%;height:100%}body{font-family:regular-sans,system,sans serif;background:#3C5A99;color:#fff;margin:0;padding:0}h1,p{margin:0 0 .5em 0;padding:0}a,h1,p{color:#fff}a:active,a:focus,a:hover{color:#a00;background:#fff}h1{font-size:300%;text-transform:uppercase;font-weight:700;font-family:regular-bold,system,sans serif}article{display:block;margin:0 auto;text-align:center;position:relative;height:98vh;width:100%;padding-top:2em}@media screen and (min-aspect-ratio:8/7){article{display:flex;flex-flow:row wrap;justify-content:flex-start;justify-content:space-between}article div{box-sizing:border-box;flex-grow:1;padding:2em 4em}article h1,article p,article ul{width:25vw;max-width:25vw;margin-left:auto;margin-right:auto}article ul{text-align:left}article ul li+li{margin-top:.5em}article h1{padding-top:18vw}}article svg{display:block;margin:0 auto;height:80vh;width:90%}/*# sourceMappingURL=style.css.map */